<label for="fileFormatSelect" class="form-label">Выберите формат, в котором скачать задачи</label>
<form id="downloadForm" method="POST" action="/download">
    <div class="input-group">
        <select class="form-select" name="file_format" id="fileFormatSelect" onchange="submitForm()">
            <option value="pdf">PDF</option>
            <option value="docx">DOCX</option>
            <option value="tex">TEX</option>
        </select>
        <button type="submit" class="btn btn-success">Скачать</button>
    </div>
</form>