{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-4">Генерация неопределенных интегралов</h1>
        <p class="lead">Введите шаблон математическое выражение и количество выражений, которые нужно сгенерировать,
            затем
            нажмите "Сгенерировать"</p>
    </div>

    <div class="row mt-5">
        <div class="col-md-6 mx-auto">
            <form id="dataForm" method="POST" action="/generate_integrals">
                <div class="mb-3">
                    <label for="dataInput" class="form-label">Введите шаблон математического выражения:</label>
                    <input type="text" class="form-control" name="data" id="dataInput"
                           placeholder="Например: a*x + b - x ** c"
                           required>
                </div>
                <div class="mb-3">
                    <label for="constantsInput" class="form-label">Введите литералы констант (через запятую):</label>
                    <input type="text" class="form-control" name="constants" id="constantsInput"
                           placeholder="Например: a,b,c">
                </div>
                <div class="mb-3">
                    <label for="boundsInput" class="form-label">Введите граничные значения для констант (через
                        запятую). Значения констант будут от 1 до 100 включительно.</label>
                    <input type="text" class="form-control" name="bounds" id="boundsInput"
                           placeholder="Например: 1,100">
                </div>
                <div class="mb-3">
                    <label for="numExpressions" class="form-label">Количество интегралов:</label>
                    <input type="number" class="form-control" name="numExpressions" id="numExpressions"
                           placeholder="Введите количество интегралов" required>
                </div>
                <button type="submit" class="btn btn-primary">Сгенерировать интегралы</button>
            </form>
            <div id="result" class="mt-3">
                {% if latex_equations %}
                <form id="downloadForm" method="POST" action="/download_tex">
                    <input type="hidden" name="latex_equations" value="{{ latex_equations }}">
                    <button type="submit" class="btn btn-success">Скачать в формате .tex</button>
                </form>
                <p>Сгенерированные уравнения в LaTeX:</p>
                <div class="row">
                    <div class="col-md-6">
                        <ul>
                            {% for i in range(latex_equations|length // 2) %}
                            <li>\[ {{ latex_equations[i] }} \]</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul>
                            {% for i in range(latex_equations|length // 2, latex_equations|length) %}
                            <li>\[ {{ latex_equations[i] }} \]</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                {% endif %}
                {% if error %}
                <p style="color: red;">Ошибка: {{ error }}</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}