{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">

    {% include 'higher_math/integral_header.html' %}
    <div class="row mt-5">
        <div class="col-md-6 mx-auto">
            {% include 'higher_math/generate_data_integral_form.html' %}
            <div id="status">

            </div>
            <form id="dataForm" method="POST" action="/download">
                <div class="mb-3">
                    <label for="fileFormatSelect" class="form-label">Выберите формат файла:</label>
                    <select class="form-select" name="file_format" id="fileFormatSelect">
                        <option value="pdf">PDF</option>
                        <option value="docx">DOCX</option>
                        <option value="tex">TEX</option>
                    </select>
                    <button type="submit" class="btn btn-success mt-3">Скачать в выбранном формате</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/sendGenerateData.js') }}"></script>
{% endblock %}