<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>MathJax example</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async
            src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js">
    </script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-primary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link active text-light fs-4" aria-current="page" href="/">На главную</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light fs-4" href="/school_math">Школьная программа</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light fs-4" href="/theory">Теория</a>
        </li>
        <li class="nav-item dropdown fs-4">
          <a class="nav-link dropdown-toggle text-light" href="/higher_math" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Высшая математика
          </a>
          <ul class="dropdown-menu bg-primary">
            <li><a class="dropdown-item text-light" href="/higher_math/integrals">Интегралы</a></li>
            <li><a class="dropdown-item text-light" href="/higher_math/derivatives">Производные</a></li>
            <li><a class="dropdown-item text-light" href="/higher_math/matrices">Матрицы</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
{% block content %}
{% endblock %}
</body>
</html>